@model CompanyManager.Models.ProductCart

@{
    ViewData["Title"] = "Tienda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="Details">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input type="hidden" asp-for="ProductId" />

    <div class="container mt-5 mb-5">
        <div class="card">
            <div class="row">
                <div class="col-md-6 text-center">
                    <img src="@ViewBag.Image" class="img-fluid" />
                </div>

                <div class="col-md-6">
                    <div class="product p-4">
                        <a asp-action="Index" class="text-secondary text-decoration-none">
                            <i class="fa-solid fa-chevron-left"></i> Volver
                        </a>

                        <div class="mt-4">
                            <h5 class="fs-3 text-uppercase">@ViewBag.Name</h5>
                            
                            @if (ViewBag.OriginalPrice != Model.UnitPrice)
                            {
                                <p class="text-danger small">%@ViewBag.Discount OFF</p>
                                <p class="fs-4 text-danger"><s>$@ViewBag.OriginalPrice</s></p>
                            }

                            <p class="fs-1 fw-bold mt-0">$@Html.DisplayFor(model => model.UnitPrice)</p>
                        </div>

                        <p class="about">@ViewBag.Description</p>

                        <p class="text-secondary fw-bold">@ViewBag.Stock Unidades Disponibles</p>

                        <div class="row mb-3">
                            <div class="col-4">
                                <input asp-for="Quantity" type="number" class="form-control" placeholder="Cantidad">
                                <span asp-validation-for="Quantity" class="text-danger fs-6"></span>
                            </div>

                            <div class="col-8">
                                <button type="submit" class="btn btn-danger"> <i class="fa-solid fa-cart-shopping"></i> Agregar al carrito </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>