@model CompanyManager.Models.Sale

@{
    ViewData["Title"] = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="p-4 p-md-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="card rounded-3">
                <div class="card-body p-4">
                    <div class="text-center mb-4">
                        <h3>Realizar Pago</h3>
                    </div>

                    <form asp-action="Payment">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-outline mb-4">
                            <label asp-for="CardNumber" class="form-label"></label>
                            <input asp-for="CardNumber" type="text" class="form-control form-control-lg" />
                            <span asp-validation-for="CardNumber" class="text-danger"></span>
                        </div>

                        <div class="row mb-4">
                            <div class="col-8">
                                <div class="form-outline">
                                    <label asp-for="CardName" class="form-label"></label>
                                    <input asp-for="CardName" class="form-control form-control-lg" />
                                    <span asp-validation-for="CardName" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="form-outline">
                                    <label asp-for="CardCVV" class="form-label"></label>
                                    <input asp-for="CardCVV" class="form-control form-control-lg" placeholder="CVV" />
                                    <span asp-validation-for="CardCVV" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col-6">
                                <div class="form-outline">
                                    <label asp-for="ExpirationM" class="form-label"></label>
                                    <select asp-for="ExpirationM" class="form-control form-control-lg">
                                        @{
                                            for (var month = 1; month <= 12; month++)
                                            {
                                                <option value="@month">@month</option>
                                            }
                                        }
                                    </select>
                                    <span asp-validation-for="ExpirationM" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="form-outline">
                                    <label asp-for="ExpirationY" class="form-label"></label>
                                    <select asp-for="ExpirationY" class="form-control form-control-lg"> 
                                        @{
                                            var year = DateTime.Now.Year;
                                            for(var a = 0; a <= 10; a++){
                                                <option value="@year">@year</option>
                                                year++;
                                            }
                                        }
                                    </select>
                                    <span asp-validation-for="ExpirationY" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="text-center">
                            <a asp-action="Cart" class="btn btn-danger btn-lg btn-block"><i class="fa-solid fa-chevron-left"></i> Volver</a>
                            
                            <button type="submit" class="btn btn-success btn-lg btn-block">
                                <i class="fa-solid fa-money-bill"></i> Confirmar Compra
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>