@using CompanyManager.Controllers
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims

<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tienda</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CompanyManager.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <img height="60" src="https://i.postimg.cc/ncxQgvNy/logo.png" alt="logo" />

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Store" asp-action="Index">Tienda</a>
                        </li>

                        @if (User.IsInRole("ADMIN") || User.IsInRole("SELLER"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Products" asp-action="Index">Productos</a>
                            </li>
                        }

                        @if (User.IsInRole("ADMIN"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Users" asp-action="Index">Usuarios</a>
                            </li>
                        }

                        @if (User.IsInRole("ADMIN") || User.IsInRole("SELLER"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Sales" asp-action="Index">Ventas</a>
                            </li>
                        }
                    </ul>
                </div>

                <div>
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Store" asp-action="Cart">
                                <i class="fa-solid fa-cart-shopping"></i> <small>@StoreController.ViewCartItems()</small>
                            </a>
                        </li>

                        @if (Context.User.Identity.IsAuthenticated)
                        {
                            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                                <ul class="navbar-nav">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link text-light dropdown-toggle" id="menu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            @User.FindFirst(ClaimTypes.NameIdentifier).Value
                                        </a>

                                        <ul class="dropdown-menu move-left" aria-labelledby="menu">
                                            <li>
                                                <a class="nav-link text-dark" asp-area="" asp-controller="Purchases" asp-action="Index">Mis Compras</a>
                                            </li>

                                            <li>
                                                <a class="nav-link text-danger" asp-area="" asp-controller="Session" asp-action="Logout">Cerrar Sesion</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        } else {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Session" asp-action="Login">Login</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Session" asp-action="Register">Registro</a>
                            </li>
                        }                        
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
